%svg#cpu_usage_average{style: "height:200px; width:868px"}
%svg#mem_usage_average{style: "height:200px; width:868px"}

:javascript

  var metric_ids = ['cpu_usage_average','mem_usage_average'];
  $(function(){
    $('a[aria-controls=metric]').click(function(){
      // cleanup
      $.each(metric_ids, function( index, metric_id ) {
        compute.clear_graph(metric_id);
      });
      $('#metric').addClass('loading-spinner');
      $.get( "#{plugin('metrics').server_statistics_path()}", {
        server_name: "#{@instance.name}"
      },function(data,status,xhr) {
        $('#metric').removeClass('loading-spinner');
        // render metrics
        $.each(metric_ids, function( index, metric_id ) {
          compute.render_graph(metric_id,data[metric_id]);
        });
      }).error (function(xhr) {
        $('#metric').removeClass('loading-spinner')
        // cleanup and render no data message
        $.each(metric_ids, function( index, metric_id ) {
          compute.clear_graph(metric_id);
          compute.no_data(metric_id);
        });
      });
    });
  });


