%svg#cpu_usage_average{style: "height:200px; width:868px"}
%svg#mem_usage_average{style: "height:200px; width:868px"}
%svg#net_usage{style: "height:200px; width:868px"}

:javascript

  var metric_defs = [
    {'id':'cpu_usage_average','xaxis':'%'},
    {'id':'mem_usage_average','xaxis':'%'},
    {'id':'net_usage','xaxis':'kb/s'}
  ];
  
  $(function(){
    $('a[aria-controls=metric]').click(function(){
      // cleanup
      $.each(metric_defs, function( index, metric_def ) {
        compute.clear_graph(metric_def['id']);
      });
      $('#metric').addClass('loading-spinner');
      $.get( "#{plugin('metrics').server_statistics_path()}", {
        server_name: "#{@instance.name}"
      },function(data,status,xhr) {
        $('#metric').removeClass('loading-spinner');
        // render metrics
        $.each(metric_defs, function( index, metric_def ) {
          compute.render_graph(
            metric_def['id'],
            data[metric_def['id']],
            metric_def['xaxis']
          );
        });
      }).error (function(xhr) {
        $('#metric').removeClass('loading-spinner')
        // cleanup and render no data message
        $.each(metric_defs, function( index, metric_def ) {
          compute.clear_graph(metric_def['id']);
          compute.no_data(metric_def['id']);
        });
      });
    });
  });
